<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/2d2f06402e.js" crossorigin="anonymous"></script>
    <script defer src="./index.js"></script>
</head>
<body>
    <header>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
         <img class="logo" src="./images/1_6jjSw8IqGbsPZp7L_43YyQ.png" alt="logo">
         <nav>
           <ul class="nav__links">
             <li><a href="#">Link 1 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
             <li><a href="#">Link 2</a></li>
             <li><a href="#">Link 3</a></li>
             <li><a href="#">Link 4 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
            <li><a href="#">Link 5 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
            <li><a href="#">Link 6 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
            <li><a href="#">Link 7 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
           </ul>
         </nav>
         <i class="fas fa-shopping-basket basket">
           <span>3</span>
         </i>
         <div class="auth-buttons">
         <a class="cta" href="#"><button>Qeydiyyat</button></a>
         <a class="cta" href="#"><button>Daxil ol</button></a>
        </div>
      </header>
      <section class="section-1">
        <div class="container">
            <div class="product">
                <div class="product-title">
                    <h3>Samsung</h3>
                    <button style="background: transparent;border: none;"><i class="far fa-heart"></i></button>
                </div>
                <div class="product-detail">
                    <div class="row">
                        <div class="col-md-5" style="overflow: hidden;display: flex;justify-content: center;">
                            <img src="./images/16436926-removebg-preview.png">
                        </div>
                        <div class="col-md-5 text-center" style="margin-top: 1%;">
                            <div class="properties" style="margin-top: 1%;">
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LGLLGLG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                                <h5>İstehsalçı:&nbsp;&nbsp;&nbsp;LG</h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="additional">
                                <span>
                                    <i class="fas fa-truck"></i>
                                    Çatdırılma pulsuzdur
                                </span>
                                <span>
                                    <i class="fas fa-award"></i>
                                    1 illik zəmanət
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center text-center shop">
                    <button class="btn btn-danger">Səbətə əlavə et</button>
                </div>
            </div>
        </div>
      </section>
      <section class="section--3" style="background: #ededed;">
        <div class="container">
        <div class="campaign" style="background: white;">
         <div class="section-title" style="padding-top:1%;">
           <h3>Oxşar məhsullar</h3>
         </div>
         <div class="campaign-cards">
           <div class="row">
            <div class="col-md-3">
              <div class="card new-card text-center">
                <img class="card-img-top" src="./images/download-removebg-preview.png" alt="samsung" >
                <div class="card-body card-content">
                  <h4 class="card-title text-center" style="padding-top: 10px;">Samsung</h4>
                  <h3 class="card-text text-center">450₼</h3>
                  <div class="d-flex justify-content-center text-center shop">
                    <button class="btn btn-danger">Səbətə əlavə et</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card new-card text-center">
                <img class="card-img-top" src="./images/download-removebg-preview.png" alt="samsung" >
                <div class="card-body card-content">
                  <h4 class="card-title text-center" style="padding-top: 10px;">Samsung</h4>
                  <h3 class="card-text text-center">450₼</h3>
                  <div class="d-flex justify-content-center text-center shop">
                    <button class="btn btn-danger">Səbətə əlavə et</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card new-card text-center">
                <img class="card-img-top" src="./images/download-removebg-preview.png" alt="samsung" >
                <div class="card-body card-content">
                  <h4 class="card-title text-center" style="padding-top: 10px;">Samsung</h4>
                  <h3 class="card-text text-center">450₼</h3>
                  <div class="d-flex justify-content-center text-center shop">
                    <button class="btn btn-danger">Səbətə əlavə et</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card new-card text-center">
                <img class="card-img-top" src="./images/download-removebg-preview.png" alt="samsung" >
                <div class="card-body card-content">
                  <h4 class="card-title text-center" style="padding-top: 10px;">Samsung</h4>
                  <h3 class="card-text text-center">450₼</h3>
                  <div class="d-flex justify-content-center text-center shop">
                    <button class="btn btn-danger">Səbətə əlavə et</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card new-card text-center">
                <img class="card-img-top" src="./images/download-removebg-preview.png" alt="samsung" >
                <div class="card-body card-content">
                  <h4 class="card-title text-center" style="padding-top: 10px;">Samsung</h4>
                  <h3 class="card-text text-center">450₼</h3>
                  <div class="d-flex justify-content-center text-center shop">
                    <button class="btn btn-danger">Səbətə əlavə et</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card new-card text-center">
                <img class="card-img-top" src="./images/download-removebg-preview.png" alt="samsung" >
                <div class="card-body card-content">
                  <h4 class="card-title text-center" style="padding-top: 10px;">Samsung</h4>
                  <h3 class="card-text text-center">450₼</h3>
                  <div class="d-flex justify-content-center text-center shop">
                    <button class="btn btn-danger">Səbətə əlavə et</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card new-card text-center">
                <img class="card-img-top" src="./images/download-removebg-preview.png" alt="samsung" >
                <div class="card-body card-content">
                  <h4 class="card-title text-center" style="padding-top: 10px;">Samsung</h4>
                  <h3 class="card-text text-center">450₼</h3>
                  <div class="d-flex justify-content-center text-center shop">
                    <button class="btn btn-danger">Səbətə əlavə et</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card new-card text-center">
                <img class="card-img-top" src="./images/download-removebg-preview.png" alt="samsung" >
                <div class="card-body card-content">
                  <h4 class="card-title text-center" style="padding-top: 10px;">Samsung</h4>
                  <h3 class="card-text text-center">450₼</h3>
                  <div class="d-flex justify-content-center text-center shop">
                    <button class="btn btn-danger">Səbətə əlavə et</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
        <div class="offers text-center">
          <a href="#">Bütün təkliflərə bax</a>
        </div>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="footer">
            <div class="row">
              <div class="col-md-12 text-center">
                <b style="font-size: 24px;color:black">Mənimlə əlaqə</b>
                <ul>
                  <li>
                    <i class="fab fa-facebook" style="color:#139EF8"></i>
                    <a href="https://www.facebook.com/samirquluzadeh2001" alt="Samir Quluzadeh facebook">Facebook</a>
                  </li>
                  <li>
                    <i class="fab fa-instagram" style="color:maroon"></i>
                    <a href="https://www.instagram.com/samirquluzadeh/" alt="Samir Quluzadeh instagram">Instagram</a>
                  </li>
                  <li>
                    <i class="fab fa-whatsapp" style="color:green"></i>
                    <a href="https://api.whatsapp.com/send?phone=0558735810&text=Salam">Whatsapp</a>
                  </li>
                  <li>
                    <i class="fab fa-telegram" style="color: #33ABE0;"></i>
                    <a href="https://t.me/samirquluzadeh">Telegram</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>