<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/2d2f06402e.js" crossorigin="anonymous"></script>
    <script defer src="./index.js"></script>
</head>
<body>
    <header>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
         <img class="logo" src="./images/1_6jjSw8IqGbsPZp7L_43YyQ.png" alt="logo">
         <nav>
           <ul class="nav__links">
             <li><a href="#">Link 1 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
             <li><a href="#">Link 2</a></li>
             <li><a href="#">Link 3</a></li>
             <li><a href="#">Link 4 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
            <li><a href="#">Link 5 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
            <li><a href="#">Link 6 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
            <li><a href="#">Link 7 <i class="fas fa-caret-down"></i></a>
              <ul>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Iphone</a></li>
                <li><a href="#">Xiaomi</a></li>
              </ul>
            </li>
           </ul>
         </nav>
         <i class="fas fa-shopping-basket basket">
           <span>3</span>
         </i>
         <div class="auth-buttons">
            <a class="cta" href="#"><button>Qeydiyyat</button></a>
            <a class="cta" href="#"><button>Daxil ol</button></a>
        </div>
      </header>
      <section class="menu-body">
          <div class="container text-center">
          <h2>Qeydiyyat</h2>
          <form class="form form--signup">
            <div class="form-group">
                <label class="form__label" for="name">Ad</label>
                <input type="text" id="name" class="form__input" placeholder="Adınız" required>
            </div>
            <div class="form-group">
                <label class="form__label" for="surname">Soyad</label>
                <input type="text" id="surname" class="form__input" placeholder="Soyadınız" required>
            </div>
              <div class="form-group">
                  <label class="form__label" for="email">Email</label>
                  <input type="email" id="email" class="form__input" placeholder="you@example.com" required>
              </div>
              <div class="form-group">
                <label class="form__label" for="password">Şifrə</label>
                <input type="password" id="password" class="form__input" placeholder="••••••••" required minlength="8">
              </div>
              <div class="form-group">
                <label class="form__label" for="passwordConfirm">Şifrənin təkrarı</label>
                <input type="password" id="passwordConfirm" class="form__input" placeholder="••••••••" required minlength="8">
              </div>
              <div class="form-group text-center">
                  <button class="btn btn-success login__btn">Qeydiyyatdan keç</button>
              </div>
          </form>
        </div>
      </section>
      <footer>
        <div class="container">
          <div class="footer">
            <div class="row">
              <div class="col-md-12 text-center">
                <b style="font-size: 24px;color:black">Mənimlə əlaqə</b>
                <ul>
                  <li>
                    <i class="fab fa-facebook" style="color:#139EF8"></i>
                    <a href="https://www.facebook.com/samirquluzadeh2001" alt="Samir Quluzadeh facebook">Facebook</a>
                  </li>
                  <li>
                    <i class="fab fa-instagram" style="color:maroon"></i>
                    <a href="https://www.instagram.com/samirquluzadeh/" alt="Samir Quluzadeh instagram">Instagram</a>
                  </li>
                  <li>
                    <i class="fab fa-whatsapp" style="color:green"></i>
                    <a href="https://api.whatsapp.com/send?phone=0558735810&text=Salam">Whatsapp</a>
                  </li>
                  <li>
                    <i class="fab fa-telegram" style="color: #33ABE0;"></i>
                    <a href="https://t.me/samirquluzadeh">Telegram</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>