@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:black;
    text-decoration: none!important;
}
input,button:focus{
    outline: none!important;
}
li{
    list-style-type: none!important;
}
.col-md-4 a:hover{
    color:black;
}
.product-detail img{
    margin-top: 4%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: white;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 100;
}
.shop-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
}
.order{
    text-align: center;
}
.price{
    font-size: 20px;
}
.loading{
    display: block!important;
}
/* .form-control{
    width: 50%!important;
} */
.general_order{
    display: flex;
    background-color: wheat;
    flex-direction: row;
}
.checkout_order{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    /* background-color: wheat; */
}
.inputs{
    width: 100%;
}
.inputs input{
    width: 80%!important;
    margin: 0 auto  !important;
    text-align: center;
}
.place_order{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}
.place_order form{
    display: flex;
    flex-direction: column;
}
.place_order form input{
    width: 50%;
    text-align: center;
    margin: 1% auto;
    padding: 6px;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.form div{
    margin-bottom: 2%;
}
.place_order p{
    font-size: 20px;
}
.checkout_order p{
    font-size: 18px;
}
.order_button button{
    font-size: 20px;
    margin-top: 2%;
}
.shop-cart img{
    height: 200px;
}
.logo{
    cursor: pointer;
    height: 50px;
}
.nav__links{
    margin: auto;
    list-style: none;
}
nav ul ul{
    position:absolute;
    top:23px;
    display: none;
    background: white;
    z-index: 100;
}
nav ul li:hover > ul{
    display: block;
    background: black;
}
nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    
}
nav ul ul li a{
    color:white;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color:#0088a9;
}
.auth-buttons button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.auth-buttons button:hover{
    background-color: rgba(0,136,169,0.8);
}
.basket{
    color:black;
    font-size: 20px;
    position: relative;
}
.basket span{
    position: absolute;
    font-size: 12px;
    right: 17%;
    top:-50%;
    background: red;
    padding: 1px 4px;
    border-radius: 10px;
    color:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.checkbtn{
    font-size: 30px;
    color:black;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:1200px) {
    .logo{
        height: 30px;
    }
    .general_order{
        flex-direction: column;
    }
    .place_order{
        border: 0;
    }
    .place_order ul{
        margin-top: 0%!important;
        margin-bottom: 20%!important;
    }
    .nav__links li a{
        font-size: 12px;
    }
    .basket{
        font-size: 16px;
    }
    .basket span{
        font-size: 10px;
        right: 13%;
    }
    .auth-buttons button{
        font-size: 14px;
    }
    .additional{
        white-space: inherit!important;
    }
}
@media (max-width:1000px){
    .checkbtn{
        display: block;
    }
    .logo{
        display: none;
    }
    .shop-cart img{
        height: 150px;
    }
    .product_name{
        font-size: 14px;
    }
    .cart-select .form-control{
        width: 60px!important;
    }
    header{
        padding: 0px 5%;
    }
    .product{
        margin-top: 20%!important;
    }
    .additional{
        display: none!important;
    }
    .product-title h3{
        font-size: 20px;
    }
    .nav__links{
        position: fixed;
        width: 100%;
        height: 100vh;
        top:80px;
        z-index: 100;
        background: white;
        left: -100%;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
    .nav__links li{
        position:static;
        margin-bottom: 15px;
    }
    .nav__links li a{
        font-size: 18px;
        
    }

    .nav__links ul li a{
        font-size: 16px;
    }
    nav ul li{
        display: block!important;
    }
    nav ul li a{
        font-size: 20px;
    }
    input#check:checked~nav .nav__links{
        left: 0;
    }
    .basket{
        font-size: 20px;
    }
    .basket span{
        font-size: 10px;
        right: 18%;
    }
    nav ul ul{
        position: relative;
        top:0;
        display: none;
    }
    nav ul li:hover > ul{
        display: block;
    }
    nav ul ul li{
        width: 150px;
        float: none;
        display: list-item;
        position: relative;
    }
}
/* Slider */
.slider{
    height: 49rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.slide{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* THIS creates the animation! */
    transition: transform 1s;
}
.slide > img {
    /* Only for images that have different size than slide */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn {
    position: absolute;
    top: 45%;
    z-index: 10;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    font-size: 3.25rem;
    cursor: pointer;
}
.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}
.dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}
.dots__dot:last-child {
    margin: 0;
}
.images{
    width: 100%;
}
.images img{
    height: 49rem;
    width: 100%;
}
.dots__dot--active {
    background-color: lime;
    opacity: 1;
}
.search{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    width: 70%;
    margin: 0 auto;
}
.searchs{
    display: flex;
    background: wheat;
    padding-top: 2%;
}
.section-title{
    margin-bottom: 3%;
}
.section-title h3{
    text-align: center;
    font-size: 30px;
}
.new-card{
    border: 1px solid #F0F1F2;
    margin-bottom: 8%;
}
.shop{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.offers{
    width: 100%;
    padding: 10px;
    font-weight: bold;
    transition: 0.8s;
    margin-bottom: 4%;
    background: #F0F1F2;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    cursor: pointer;
}
.offers:hover{
    background: rgb(221, 2, 2);
    border: none;
}
.offers:hover a{
    color:white;
}
footer{
    background: #383838;
}
.footer{
    margin-top: 3%;
}
.footer li{
    margin-bottom: 2%;
}
.section-1{
    background-color: #EDEDED;
    padding-top: 2%;
}
.product{
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.product-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: 1px solid #ededed;
}
.product-title i{
    font-size: 20px;
}
.product-detail{
    display: flex;
    flex-direction: row;
}
.additional{
    display: flex;
    white-space: nowrap;
    width: 100%;
    flex-direction: column;
}
.additional span{
    border:1px solid #ededed;
    padding: 10%;
    text-align: center;
    margin-bottom: 3%;
}
.col-md-2{
    padding-right: 0!important;
}
.product-detail .row{
    width: 100%!important;
    margin: 0!important;
}
.category-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.category-title input{
    width: 50%;
}
.range{
    display: flex;
    flex-direction: row;

}
.bold-line{
    height: 5px;
    display: flex;
    margin: auto;
    width: 50px;
    background: #504f4f;
}
.line{
    background: #383838;
    height: 1px;
}
.search-area{
    text-align: center;
    border:1px solid #e6e7e8;
    margin-top: 20%;
}
.search-area button{
    width: 100%;
    background: #E6E7E8;
    border:none;
    margin-top: 10%;
    margin-bottom: 5%;
}
.section--2{
    background: #F9FBFC;
    color:black;
}
.section--3{
    background: #F9FBFC;
    color:black;
}
.menu-body{
    padding-bottom: 3%;
    background-color: #F9FBFC;
}
.login-form {
    margin: 1% auto;
    max-width: 55rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 5rem 7rem;
    border-radius: 5px;
  }
  .login-form h2{
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(to right, #7dd56f, #28b487);
      line-height: 1.3;
      color:transparent;
      letter-spacing: 0.1rem;
      margin-bottom: 3rem !important;
      -webkit-background-clip: text;
      text-align: center;
  }
  .form__input {
    display: block;
    font-family: inherit;
    /* font-size: 1.5rem; */
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #fff;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
  }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
  }
  .form__input::-webkit-input-placeholder {
    color: #bbb;
  }
  .form__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  .form__label {
    display: block;
    /* font-size: 1.6rem; */
    font-weight: 700;
    margin-bottom: 0.75rem;
  }
  .login__btn{
    /* font-size: 1.6rem; */
    padding: 1.4rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: none;
    cursor: pointer;
  }
  .cabinet-settings{
      margin-top: 5%;
      border: 1px solid #b9b9b9;
      display: flex;
      flex-direction: column;
  }
  .cabinet-settings a{
      font-size: 18px;
  }
  .form--signup{
      margin-top: 5%;
  }
  @media (max-width:722px){
    .table{
        font-size: 10px;
    }
  }
  @media(max-width:578px){
      .table .btn{
          font-size: 10px;
      }
      .table{
        font-size: 9px;
    }
  }